body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100vw;
}

.hide {
  display: none !important;
}

#refresh {
  cursor: pointer;
  font-size: 35px;
  position: absolute;
  top: 30px;
  right: 50px;
}

.grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 815px;
  height: 683px;
  justify-content: space-between;
  background-color: #175dde;
  padding: 15px;
  position: relative;
}

.overlay {
  width: 100% !important;
  height: 100% !important;
  opacity: 0.8;
  background: #fff;
  position: absolute !important;
  cursor: not-allowed !important;
  z-index: 5;
  border-radius: 0 !important;
  /* width: 815px !important; */
  margin-top: 0 !important;
  top: 0;
  left: 0;
}

.grid div {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #1348a2;
  margin-top: 4px;
  border-radius: 50%;
  border: 1px solid #1c5dce;
  box-shadow: inset 2px 2px 1px 0 #060606;
  cursor: pointer;
}

.grid div.alpha {
  background-color: #ff0000;
}

.grid div.beta {
  background-color: #fff000;
}
/* 
.grid div::after {
  position: absolute;
  content: attr(data-index);
  font-size: 30px;
} */
